#game {
    width: 100%;
    height: 75vh;
}

h1{
    text-align: center;
}

#tttable {
    width: 60%;
    margin: auto;
    height: 100%;
    display: table;
}

.tttcell {
    width: 33%;
    height: 33%;
    background-color: white;
    color: yellow;
    font-size: 100px;
    text-align: center;
    font-family: fantasy;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black; /* Added border for clearer separation */
}

.tttcell:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tttcell.selected {
    background-color: rgb(24, 23, 23); /* Example style for selected cells */
}

#winnerDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    display: none;
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
}

#codeDiv{
    width: 50%;
    height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#codeInput, #codeSubmit{
    height: 5vh;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
}

#codeSubmit{
    padding: 2px;
    background-color: rgb(172, 172, 172);
    transition-duration: 0.3s;
    border-radius: 12px;
}


#codeSubmit:hover{
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    color: white;
}

h2{
    margin: 0;
}